.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 30vh;
}

@media all and (min-width: 500px) {
  
  .home-container {
    height: 88vh;
    padding-top: 25vh;
  }
}
